MONGO_URI=###
JWT_SECRET=secret
MAILTRAP_TOKEN=###
CLIENT_URL=http://localhost:8000

# Special token for testing (replace with your own secure token)
SPECIAL_TOKEN=your_special_token_here
# Test user ID (replace with an actual user ID from your database)
TEST_USER_ID=000000000000000000000000

SMTP_HOST=###
SMTP_PORT=###
SMTP_USER=###
SMTP_PASS=###
SMTP_SECURE=###

STRIPE_SECRET_KEY=sk_test_51BwvXXHtol14CWEhNFYIsyLSxgQsZ6ABF1POLyNLPMEdKFG3ZxQqG8Gytt4ctNS6NEwp8o7ISXCdzqcs6wnAxKg200TF5Vi6hT
STRIPE_WEBHOOK_SECRET=whsec_110aaa8c7b612515b17419b5da124a70e3823a2e9813bd3e0d3003d5ea81f260